<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings>
    <add connectionString="server=localhost;uid=jerry-the-U5ws4;pwd=).)(Fm0F8$8x;Database=jerry-the-wpsite" name="jerry-the-wpsite" providerName="MySql.Data.MySqlClient" />
        <add connectionString="server=localhost;uid=jerry-wpsiU94ow;pwd=?}9-IgL(C_Dz;Database=jerry-wpsite" name="jerry-wpsite" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <system.webServer>
    <rewrite>
      <rules>

		<rule name="WordPress: http://localhost:53785" patternSyntax="Wildcard">
		<match url="*" />
		<conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
		</conditions>
		<action type="Rewrite" url="index.php" />
		</rule>
		</rules>
    </rewrite>
  </system.webServer>
</configuration>
